.home{
    background-image: radial-gradient( circle farthest-side at 0% 20%, #0d0e2d,      #000000);
    
}
.home-cont{
    margin-left: 300px;
}
.music-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-list{
    display: flex;
    gap: 30px;
    margin: 10px;
}