.searchbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.searchbar-box{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccccc4c;
    font-size: 16px;
    outline: none;
    display: flex;
    width: 400px;
    background-color: #cccccc1b;
    color: #cccccc88;
}

.searchbar-box:hover{
    color: #e4e0e0;
}


.searchbar-search-icon-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.searchbar-search-icon{
    
}

.searchbar-input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1rem;

}

.searchbar-input:focus{
    outline: none;
}

.searchbar-menu{
    color: #ccccccfe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar-signin-btn{
    background-color: #ccccccfe;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #250a0a;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
}
